body {
  background-color: cadetblue;
  font-family: "Poppins", sans-serif;
  max-width: 800px;
}

header {
  display: block;
  text-align: center;
}

.slogan {
  color: white;
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
  font-style: italic;
}

nav {
  list-style: none;
}

nav li {
  display: flex;
}

ul {
  border: 2px solid white;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  justify-content: space-between;
  padding: 20px;
  display: flex;
  align-items: stretch;
}

#links {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: larger;
}

section {
  display: flex;
  margin-top: 20px;
}

h2 {
  color: white;
  font-size: medium;
  text-align: center;
  font-weight: bold;
}

p {
  color: white;
  font-style: italic;
}

article {
  flex: 1;
}

.article .img {
  text-align: center;
  padding: 5px;
}

hr {
  color: white;
}

footer {
  display: flex;
}

footer div {
  flex: 1;
  color: white;
}

footer .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

.promotion .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 180%;
}
